<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/ok.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <div class="title">
        <h1>全球吸烟情况分析与可视化</h1>
        <div class="sousuo">
            <input type="text" placeholder="Just decoration">
            <a href="#">
                <i class="fa fa-hand-o-right"></i>
                <i class="fa fa-search"></i>
            </a>
        </div>
    </div>
    <div class="context">
        <div class="daohanlan">
            <nav class="shell">
                <ul class="buttons">
                    <li class="li">
                        各国吸烟人数汇总
                        <ul>
                            <li class="map" data-animation="blink" id="data_1999" data-param="1999"> 1999 </li>
                            <li class="map" data-animation="pop" id="data_2004" data-param="2004"> 2004 </li>
                            <li class="map" data-animation="jump" id="data_2009" data-param="2009"> 2009 </li>
                            <li class="map" data-animation="blink" id="data_2014" data-param="2014"> 2014 </li>
                            <li class="map" data-animation="pop" id="data_2019" data-param="2019"> 2019 </li>
                            <li class="pct" data-animation="pop" id="pct_data"> 吸烟率 </li>
                        </ul>
                    </li>


                    <li class="li">
                        各地区人数变化
                        <ul>
                            <li id="refresh">重置</li>
                            <li class="bar" data-animation="blink" id="get-data4" data-param='Asia'> 亚洲 </li>
                            <li class="bar" data-animation="blink" id="get-data5" data-param='Africa'>非洲</li>
                            <li class="bar" data-animation="blink" id="get-data6" data-param='Europe'>欧洲 </li>
                            <li class="bar" data-animation="blink" id="get-data7" data-param='North-America'>北美洲 </li>
                            <li class="bar" data-animation="blink" id="get-data8" data-param='South-America'>南美洲 </li>
                        </ul>
                    </li>


                    <li class="li">
                        对寿命的影响
                        <ul>
                            <li class="pie" data-param='1999'> 1999 </li>
                            <li class="pie" data-param='2004'> 2004 </li>
                            <li class="pie" data-param='2009'> 2009 </li>
                            <li class="pie" data-param='2014'> 2014 </li>
                            <li class="pie" data-param='2019'> 2019 </li>
                        </ul>
                    </li>


                    <li class="li">
                        结论总结及预测
                        <ul>
                            <li> payment </li>
                            <li> Loan goods </li>
                            <li> Collection in advance</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="world" class="world">
            <EchartLine :refresh_interVal="6000"></EchartLine>
        </div>
        <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    </div>
    <div class="context2">
        <div class="notice"><div class='hcqFont hcqStyle1'>吸烟，我们可以选择，那么，生命呢？</div></div>
        <div id="zhexiantu" class="zhexiantu"></div>
        <div id="shanxingtu" class="shanxingtu"></div>


        <div></div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>


<script src="../static/ok.js"></script>


</html>